<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile page</title>
</head>
<body>
    <%- include('common/header'); %><!--inclide common header file in this page-->
    <h1>Welcome <%= user.name%></h1>
    <h2>Email: <%= user.email%></h2>
    <h3>City: <%= user.city%></h3>
    <ul>
        <% user.skills.forEach((item)=>{ %><!--using ejs forEach loop to create loop in it-->
            <li><%= item %></li>
        <%}) %>  
    </ul>
</body>
</html>